<footer>
    <div class="f1">
        <h3>Contact</h3>
        <p>karo.voets@student.pxl.be</p>
        <p>+32 415 57 25 26</p>
    </div>
    <div class="f2">
        <p>Elfde-Liniestraat 24</p>
        <p>3500 Hasselt</p>
    </div>
    <div class="f3">
        <img src="" alt="instagram">
        <img src="" alt="facebook">
        <a href="" target="_blank"></a>
    </div>
</footer>