<nav class="head">
    <div class="navbar">
        <a href="/  " class="nav-logo"><img src="assets/logo.png" alt="Logo"></a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="{{ overzichtspagina.url }}" class="nav-link">Products</a>
            </li>
            <li class="nav-item">
                <a href="{{ profiel.url }}" class="nav-link">Profile</a>
            </li>
            <li class="nav-item">
                <a href="{{ contact.url }}" class="nav-link">Contact</a>
            </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>