<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Werkpakket 1 Karo Voets Home</title>
    <link rel="stylesheet" href="{{ currentSite.baseUrl }}/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <script defer src="navbar.js"></script>
</head>
<body>
{% hook 'after-body-start' %}


{% include '_snippets/_nav.twig' %}

{% block content %}
{% endblock %}

{% include '_snippets/_footer.twig' %}
</body>
</html>