{% extends '_layout.twig' %}
{% block content %}
    <div style="height: 80%; width: 100%; text-align: center; align-content: center; align-self: center; display: flex; justify-content: center">
        {{ craft.formie.renderForm('contactForm') }}
    </div>
{% endblock %}