{% extends '_layout.twig' %}
{% block content %}
    <div style="height: 80%; width: 50%; text-align: center; align-content: center; align-self: center">
        {{ craft.formie.renderForm('contactForm') }}
    </div>
{% endblock %}